.card {
  background-color: #9e9e9e;
  border: 1px solid #333;
  border-radius: 0.5rem;
  padding: 0.5rem;
  height: 100vh;
  width: 100%;
  margin: 0;
  animation: fade 250ms ease-in-out forwards;
}

.page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: "#9e9e9e";
}

.button {
  display: table-cell;
  background-color: #68cbc1;
  color: white;
  /* // width: "100%", */
  max-width: 250px;
  /* // display: "flex", */
  font-weight: 700;
  border-style: none;
  border-radius: 999px 999px 999px 999px;
  box-shadow: 0px 5px 15px 0px rgb(39 48 112 / 51%);
}

.form-group {
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
  margin-bottom: 0.5rem;
  gap: 0.25em;
}

.form-grp2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* flex-direction: column; */
  margin-bottom: 0.5rem;
  gap: 0.25em;
}

.form-group:last-child {
  margin: 0;
}

.form-group > label {
  font-weight: bold;
  font-size: 0.8em;
  color: #333;
}

.form-group > input {
  border: 1px solid #333;
  border-radius: 0.25em;
  font-size: 1rem;
  padding: 0.25em;
}

.step-title {
  margin: 0;
  margin-bottom: 1rem;
  /* text-align: center; */
  color: white;
}

.card.active {
  animation: slide 250ms 125ms ease-in-out both;
}

.multi-step-form {
  overflow: hidden;
  position: relative;
}

.hide {
  display: none;
}

@keyframes slide {
  0% {
    transform: translateX(200%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(0.75);
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}
